body {

    font-family: 'Avenir', sans-serif;
}

h6{

    margin-block-start: 0px;
    margin-block-end: 1%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 120%;
 
}

h1 { 
    text-align: center;
    font-size: 3.0rem;
    
}
h2 { 
    text-align: center;
    font-size: 2rem;

}

.logo { 
    width: 100%;
text-align: center;
}