body {
    font-family: 'Avenir', sans-serif;
    background-color: #ffffff;
  }
  
  header {
      background-color: #f4f4f4;
    color: #000000;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
  }
  footer{
      height: 100% ;
      background-color: #f4f4f4; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px; 
  
  
  }
  .payment-methods, .delivery-methods {
      text-align: center;
  }
  
  .payment-methods img, .delivery-methods img {
      width: 40px;
      height: auto;
      margin: 5px;
  }
  
  .logo-container {
    text-align: left;
  
  
  }
  
  .logo-container img {
    position: relative;
    width: 200px;
    height: auto;
    left: 20px;
   
  }
  
  
  .contact { 
    position: relative;
   
  }
  
  .reseau { 
    position: relative;
   
  }
  
  .planS { 
    color: #000000;
    position: relative;
  
  }
  
  .membre { 
    color: #000000;
    position: relative;
   
  }
  
  h3 {
    color: #000000;
  
  }